In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#import the API key
from configb import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Esperance,AU,2021-11-24 15:55:09,-33.8667,121.9000,55.24,78,7,3.49
1,1,Port Alfred,ZA,2021-11-24 15:55:09,-33.5906,26.8910,63.81,65,100,11.30
2,2,General Roca,AR,2021-11-24 15:54:38,-39.0333,-67.5833,88.20,16,16,6.51
3,3,Whittlesea,ZA,2021-11-24 15:55:09,-32.1759,26.8244,53.91,74,100,11.10
4,4,Kruisfontein,ZA,2021-11-24 15:55:10,-34.0033,24.7314,63.88,68,100,12.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use your google api key
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
#2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
#3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
# 4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity=300, point_radius=4)

#5 Add the heat map layer
fig.add_layer(heatmap_layer)
#6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?68
What is the maximum temperature you would like for your trip?80

In [11]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Atuona,PF,2021-11-24 15:50:47,-9.8000,-139.0333,76.93,80,80,12.19
11,11,Tiwi,PH,2021-11-24 15:55:12,13.4667,123.6167,74.46,89,99,4.09
12,12,Bambous Virieux,MU,2021-11-24 15:55:12,-20.3428,57.7575,79.05,69,20,8.05
19,19,Pisco,PE,2021-11-24 15:55:14,-13.7000,-76.2167,68.05,77,0,9.22
24,24,Hilo,US,2021-11-24 15:54:13,19.7297,-155.0900,69.24,79,32,5.01
29,29,Victoria,HK,2021-11-24 15:51:51,22.2855,114.1577,68.25,75,4,3.00
32,32,Rockhampton,AU,2021-11-24 15:55:17,-23.3833,150.5000,76.89,83,40,6.91
35,35,Saint-Philippe,RE,2021-11-24 15:55:18,-21.3585,55.7679,78.39,78,79,8.84
38,38,Rikitea,PF,2021-11-24 15:53:28,-23.1203,-134.9692,76.24,78,100,14.94
45,45,Ixtapa,MX,2021-11-24 15:55:20,20.7000,-105.2000,79.23,67,6,1.01

In [12]:
preferred_cities_df.count()

City_ID       140
City          140
Country       140
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [13]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
10           Atuona      PF     76.93  -9.8000 -139.0333
11             Tiwi      PH     74.46  13.4667  123.6167
12  Bambous Virieux      MU     79.05 -20.3428   57.7575
19            Pisco      PE     68.05 -13.7000  -76.2167
24             Hilo      US     69.24  19.7297 -155.0900
29         Victoria      HK     68.25  22.2855  114.1577
32      Rockhampton      AU     76.89 -23.3833  150.5000
35   Saint-Philippe      RE     78.39 -21.3585   55.7679
38          Rikitea      PF     76.24 -23.1203 -134.9692
45           Ixtapa      MX     79.23  20.7000 -105.2000

In [16]:
#Set parameters to search for a hotel
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key": g_key}
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.....skipping.")

Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Atuona,PF,76.93,-9.8000,-139.0333,Villa Enata
11,Tiwi,PH,74.46,13.4667,123.6167,Balikbayan Resort
12,Bambous Virieux,MU,79.05,-20.3428,57.7575,Casa Tia Villa
19,Pisco,PE,68.05,-13.7000,-76.2167,Hotel San Isidro Oficial
24,Hilo,US,69.24,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Victoria,HK,68.25,22.2855,114.1577,Mini Hotel Central
32,Rockhampton,AU,76.89,-23.3833,150.5000,Mercure Rockhampton
35,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
38,Rikitea,PF,76.24,-23.1203,-134.9692,People ThankYou
45,Ixtapa,MX,79.23,20.7000,-105.2000,Hotel Plaza Providencia

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#Store the dataframe row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]